<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.frameobjectcontrol">

    <!-- Разрешение на использование камеры -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Разрешение на использование камеры, если приложение работает в фоновом режиме -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- Разрешение для записи в хранилище, если вы хотите сохранять изображения (если нужно) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.FrameObjectControl">

        <!-- Основная активность -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FrameObjectControl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
